<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passvault.abhi.passwordvault">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".menu.Signout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.Generate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.Logins"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Authentication.Authenticator"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Authentication.Keysetup"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".display.Usertuple"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>